<!DOCTYPE html>
<html lang="en">
<head>
    <title>Movies</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Movie List</h1>
    <ul>
        <% movies.forEach(movie => { %>
            <li><strong><%= movie.title %></strong> - <%= movie.genre %></li>
        <% }) %>
    </ul>
</body>
</html>